<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Counter" version="1.0.0" viewmodes="maximized">
    <tizen:application id="v0aLu5owwQ.Counter" package="v0aLu5owwQ" required_version="5.5"/>
    <author>Quinn M Favo</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Counter</name>
    <tizen:profile name="wearable"/>
</widget>
